/* BACKGROUND */

html {
    background: url(../img/background2.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 62.5%;
}

/* HEADER CSS */

header {
    position: absolute;
    min-height: 10vh;
    width: 100%;
    padding: 40px;
    /* background-color: palegreen; */

}

.typo {
    /*background-color: paleturquoise;*/
    color: black;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 5px;
    float : left;
    transition: all 0.7s ease-in-out;
    /* text-transform: none; */
}

header .typo:hover {
    letter-spacing: 0.9rem;
}

header ul {
    display: flex;
    justify-content: flex-end;
    /* background-color: papayawhip; */
    
}

header ul li {
    margin-left: 36px;
    font-size: 20.8px;
    display: flex;
    justify-content: space-between;
    /* background-color: purple; */

}

header ul li a {
    padding: 6px 15px;
    color: white;
    border-radius: 52px;
    transition: 0.7s;
}

header ul li a:hover {
    background: black;

}

/* MEDIA QUERIES */

#btn1 #btn2 {
    display: flex;
}

#log_out_logo {
    display: none;
    min-width:50px;
    min-height: 50px;
    margin-top: -10px;
}

@media screen { @media screen and (max-width: 640px) {
        header li a {
            display: none;
        }

        #log_out_logo {
            display: flex;
            align-items: center;
        }
    }
}

