/* IMPORT GLOBAL CSS */

@import url(css/global.css);
@import url(css/user_header.css);

/* MAIN INDEX CSS */


div .text { 
    font-size:2rem;
    width:100%;
    text-align: center;
    padding: 8rem;
    margin: auto;
}

.title {
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 14.5rem;
    margin-left: 0.3px;
}

div h3 {

    font-size: 2rem;
    margin-bottom: 3rem;
}

div p {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
    text-align: center;
}

div a {
    padding: 4px 15px;
    color: white;
    border-radius: 3.25rem;
    width:8.75rem;
    height:1.875rem;
    text-decoration: none;
    border: solid 0.25rem;
    transition: 0.9s;
}

div a:hover {
    color: black;
    background: #DDE9E9;
}

/* MEDIA QUERIES */

@media screen { @media screen and (max-width: 730px) {

        .title {
            font-size: 5rem;
        }

        h2 {
            font-size: 6rem;
        }
    
        h3 {
            font-size: 1.5rem;
        }
    }
}
