@import url(css/global.css);
@import url(css/user_header.css);

/* INSCRIPTION FORM CSS */

.user_profil {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-right: 55px; */
}

.form_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    align-items: center;
    margin-top: 12rem;
    /* margin-top: 79rem; */
    background: #E0EEF3;
    padding: 10px 17px;
    border-radius: 10px;
    border: none; 
    min-width: 300px;
    opacity: 0.960;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text-form2 {
    font-size: 1.23rem;
}

form h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 3rem;
}

form h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 14px;
    font-size: 2.6rem;
}

form input[type="text"], input[type="password"], [type="submit"]{
    padding: 6px 80px;
    color: black;
    border-radius: 12px;
    border: solid 0.25rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 101px;
    background: linear-gradient(to left,#886CFC, #9198e5);
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    color: black;
}

form p {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

form p a {
    transition: all 0.2s ease-in-out;
}

form p a:hover {
    color: #337BD4 ;
}

.err_php {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: white;
}

.success_php {
    text-align: center;
    font-size: 2.7rem;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

#btn1 {
    background: black;
    color: white;
}

@media screen { @media screen and (max-width: 640px) {

        form input[type="text"], input[type="password"], [type="submit"]{
        padding: 2px 17px;
        color: black;
        border-radius: 12px;
        border: solid 0.25rem;
        margin-bottom: 10px;
        font-size: 2rem;
        text-align: center;
        }
    
    }
}