/* IMPORT GLOBAL & HEADER CSS */

@import url(css/global.css); 
@import url(css/main_header.css); 

/* CONNEXION FORM CSS */


.user_login {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    align-items: center;
    margin-top: 20rem;
    background: #F3E8E2;
    padding: 10px 17px;
    border-radius: 10px;
    border: none; 
    min-width: 300px;
    opacity: 0.960;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

form h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 3rem;
}

form input[type="text"], input[type="password"], [type="submit"]{
    padding: 4px 15px;
    color: black;
    border-radius: 12px;
    border: solid 0.25rem;
    margin-bottom: 10px;
    font-size: 3rem;
    text-align: center;
}

.btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 99.5px;
    background: linear-gradient(to left,#e66465, #9198e5);
    border-radius: 15px;
    margin-bottom: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    color: black;
}

form p {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 1rem;
}

form p a {
    transition: all 0.2s ease-in-out;
}

form p a:hover {
    color: #337BD4 ;
}

.err_php {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: white;
}

#btn2 {
    background: black;
    color: white;
}